<div class="card" style="background-color:rgb(235,235,255)">
  <div class="card-header">
    <h1>New Friend</h1>
  </div>
  <div class="card-body">
    <%= render 'form', friend: @friend %>

    <%= link_to 'Back', friends_path %>
  </div>
</div>
