<body>
<br/><br/>
<h1>Enter Admin Password:</h1>
  <%=  %>
  <form class="row g-3 needs-validation", style="text-align:center" novalidate>

    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label"></label>

      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend" style=align:center">Password:</span>

        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>

        <div class="invalid-feedback">
          Invalid Password
        </div>
      </div>

    <div class="col-12">
      <br/>
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>

</body>
