<body style="background-color:rgb(200,200,300)" >
<h1>Editing Message </h1>

<%= render 'form', contact: @contact %>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', new_contact_path %>
</body>
